body {
    background: radial-gradient(at 0 0, black, red);
    min-height: calc(100vh - 16px);
}

img.Logo {
    max-width: calc(100vw / 3);
}



header {
    width: 100%;
    text-align: center;
}

@media (min-width: 600px) {}

@media (min-width: 1000px) {}

* {
    outline: 2px solid blue;
}